:root {
  --ideal-viewport-width: 1600;
}

@function scaleValue($value) {
  @return calc(
    #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
  );
}

@keyframes brrrr {
  0% {
    transform: translateY(#{scaleValue(6)});
  }
  
  100% {
    transform: translateY(#{scaleValue(4)});
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: #000000;
  height: 100vh;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('../components/background.png');


  @media only screen and (max-width: 414px) {
    //height: 100vh;
  }

  &__back {
    position: absolute;
    height: #{scaleValue(1000)};
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;

    @media only screen and (max-width: 414px) {
      height: 100vh;
    }

    & img {

      &.desktop {
        object-fit: unset;
        height: 100%;
        width: 100%;  
        
        @media only screen and (max-width: 414px) {
          display: none;
        }
      }

      &.mobile {
        object-fit: unset;
        height: 100%;
        width: 100%; 
        display: none;
        
        @media only screen and (max-width: 414px) {
          display: block;
        }
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;

    @media only screen and (max-width: 414px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__photos {
    position: relative;
    width: #{scaleValue(610)};
    height: 100vh;

    @media only screen and (max-width: 414px) {
      height: #{scaleValue(1300)};
      width: 100vw;
      margin-top: #{scaleValue(100)};
    }

    &--wall {
      width: #{scaleValue(560)};
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;

      @media only screen and (max-width: 414px) {
        height: #{scaleValue(2300)};
        width: 100vw;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media only screen and (max-width: 414px) {
          object-fit: none;
        }
      }
    }
  }

  &__photositems {
    position: absolute;
    width: #{scaleValue(676)};
    z-index: 2;
    height: #{scaleValue(676)};
    position: absolute;
    top: #{scaleValue(150)};
    background: transparent;
    padding-left: #{scaleValue(35)};

    @media only screen and (max-width: 414px) {
      height: #{scaleValue(1300)};
      width: 100vw;
    }

    &--area {
      display: flex;
      margin-bottom: #{scaleValue(20)};

      @media only screen and (max-width: 414px) {
        justify-content: center;
      }
    }

    &--item {
      border-right: solid 2.4px #000000;
      border-bottom: solid 2.4px #000000;
      margin-right: #{scaleValue(10)};
    }

    &--background {
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: top;
      position: relative;
      width: #{scaleValue(210)};
      height: #{scaleValue(35)};
      display: none;

      @media only screen and (max-width: 414px) {
        height: #{scaleValue(600)};
        width: #{scaleValue(500)};
      }

      & figure {
        width: 88%;
        height: 88%;
        background: #77559a;
        overflow: hidden;

        &.two {
          background: #CDCDCD;
        }

        &.three {
          background: #DE3C00;
        }

        &.five {
          background: #D3d000;
        }

        &.six {
          background: #CDCDCD;
        }

        & img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          transition: all .3s ease;
          animation: brrrr .1s ease-in-out infinite alternate;
        }
      }
    }
  }

  &__mintarea {
    padding-top: #{scaleValue(90)};
  }

  &__mintbobo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: #{scaleValue(120)};
    width: #{scaleValue(380)};

    @media only screen and (max-width: 414px) {
      height: #{scaleValue(500)};
      width: #{scaleValue(1200)};
      margin: 0 auto;
      transform: rotate(-2deg);
    }

    &::before {
      position: absolute;
      content: '';
      background: rgba(0, 0, 0, 0.63);
      z-index: -1;
      width: 100%;
      height: 100%;
      transform: translateY(#{scaleValue(8)}) translateX(#{scaleValue(5)});
    }

    & figure {
      
      &:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
      }

      &:nth-child(2) {
        position: relative;
        z-index: 2;
        padding: #{scaleValue(20)};

        @media only screen and (max-width: 414px) {
          padding: #{scaleValue(50)}
        }
      }

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.logo {
  position: fixed;
  right: 0;
  top: 0;
  transition: all .3s ease-in;
  height: #{scaleValue(200)};
  width: #{scaleValue(200)};
  padding: #{scaleValue(30)};
  animation: brrrr 1s ease-in-out infinite alternate;

  @media only screen and (max-width: 414px) {
    position: relative;
    top: #{scaleValue(100)};
    height: #{scaleValue(600)};
    width: #{scaleValue(500)};
  }

  & img {
    width: 100%;
    object-fit: cover;
  }
}

.music {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.enter {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: #000000;
  padding: #{scaleValue(30)};
  color: #fff;
  z-index: 10;
}