:root {
  --ideal-viewport-width: 1600;
}

@function scaleValue($value) {
  @return calc(
    #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
  );
}

@font-face {
  font-family: inkfree;
  src: url('./fonts/Inkfree.ttf');
}

.main {
  border-radius: 1rem;
  border: 4px solid #000000;
  background: #fff;
  width: #{scaleValue(410)};
  margin-top: #{scaleValue(70)};    
  transform: rotate(-2deg);
  padding: #{scaleValue(30)} #{scaleValue(20)};

  &__phrases {

    &--item {
      border-bottom: 2px solid #000000;
      transform: rotate(-1deg);
      height: #{scaleValue(90)};
      width: #{scaleValue(360)};

      & figure {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      & img {
        width: 80%;
        height: 70%;
        object-fit: scale-down;
      }
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--supplystatus {
      display: flex;
      justify-content: center;
    }

    &--mint {
      background: #000000;
      text-transform: uppercase;
      color: #fff;
      width: #{scaleValue(180)};
      height: #{scaleValue(50)};
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        object-fit: contain;
        height: 59%;
        width: 54%;
      }
    }

    &--incde {
      position: relative;
      width: #{scaleValue(183)};
      height: #{scaleValue(59)};
      margin-bottom: #{scaleValue(5)};
    }

    &--togglebackground {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &--supplystatus{
      padding: #{scaleValue(10)} 0;
      font-size: #{scaleValue(25)};
      font-weight: 300;
    }

    &--amount {
      font-size: #{scaleValue(25)};
    }

    &--area {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 #{scaleValue(10)};

      & figure {
        width: #{scaleValue(24)};
        height: #{scaleValue(25)};

        & img {
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}